
.formBody {
    margin-top:50px;
    margin-left:auto;    
    margin-right:auto;
    max-width:800px;
}

.loginContent {    
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:500px;
    width:auto;
    margin-top:100px;
}
